
img{
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}

.nxt-btn{
    height: 50px;
    width: 100px;
    /* visibility: visible; */
}
.buttons{
    margin-left: 550px;
    margin-top: 20px;
}
.prev-btn{
    height: 50px;
    width: 100px;
    visibility: hidden;
}
h2{
    color:aqua;
    position: absolute;
    top: 12px;
    left: 48%;
}

.container{
    position: relative;
}